<img src="https://courses.edx.org/asset-v1:ACCA+ML001+2T2021+type@asset+block@acca-logo.jpg" alt="ACCA logo" style="width: 400px;"/>

# Automating Excel using Python
## Part 2 - Automated Excel reporting

* **Course:** __Machine learning with Python for finance professionals__ by ACCA
* **Instructor:** [Coefficient](https://coefficient.ai) / [@CoefficientData](https://twitter.com/CoefficientData)

---

In [1]:
import pandas as pd
import xlwings as xw

# 

<div class="alert alert-block alert-info" style="background-color: #BA001E; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<h2 style="color: white">
Manipulating Excel workbooks from Python
</h2><br>
</div>

<div class="alert alert-block alert-danger">
On some operating systems, running the command below may open a window asking something like <b>Please select the file "Business Card.xlsx"</b>.<br/><br/>

Select the file "<b>Business Card.xlsx</b>" and confirm that you would like to <b>Grant Access</b> to this file.
</div>

In [2]:
# Create/connect to a workbook
wb = xw.Book('Business Card.xlsx')

In [3]:
# Create/connect to a sheet
sheet = wb.sheets['Sheet1']

In [4]:
# Write a value into a cell
sheet.range('A1').value = 'Hello World!'

---

> ### üö© Exercise
> 
> Try setting the value of cell B3 (the cell containing the larger text) to your own name.

In [5]:
# ‚úèÔ∏è ENTER YOUR SOLUTION HERE


sheet.range('B3').value = 'Cheshire Cat'

---

In [6]:
# Read a value from a cell
sheet.range('A1').value

'Hello World!'

In [7]:
# Or using index notation (1-based like Excel)
sheet.range((1,1)).value

'Hello World!'

### Writing a DataFrame from pandas into Excel

In [8]:
# We will create this list of lists, ready to turn into a dataframe
[["cat", 4], ["octopus", 8], ["snail", 1],]

[['cat', 4], ['octopus', 8], ['snail', 1]]

In [9]:
# Let's write a dataframe into a location; first create the dataframe
df = pd.DataFrame(
    [["cat", 4],
     ["octopus", 8],
     ["snail", 1],
    ],
    columns=['animal', 'legs'])
df

    animal  legs
0      cat     4
1  octopus     8
2    snail     1

In [10]:
# Write into cell E3
sheet.range('E3').value = df

### Reading a table from Excel into pandas

What happens if we read from E3?

In [11]:
sheet.range('E3').value

Nothing, we need to "range expand", i.e. starting at E3, select down until there's no more data, and select rightwards until there's no more data. This selects "the table with top-left corner at E3".

In [12]:
# Range expand from E3
sheet.range('E3').options(expand='table').value

[[None, 'animal', 'legs'],
 [0.0, 'cat', 4.0],
 [1.0, 'octopus', 8.0],
 [2.0, 'snail', 1.0]]

We can do better: xlwings can auto-convert this to a pandas DataFrame, just supply `pd.DataFrame` as the first option.

In [13]:
# Read a dataframe from E3
sheet.range('E3').options(pd.DataFrame, expand='table').value

      animal  legs
0.0      cat   4.0
1.0  octopus   8.0
2.0    snail   1.0

In [14]:
# Read the first row back by specifying a range
sheet.range('F3:G3').value

['animal', 'legs']

In [15]:
# Or use index notation
sheet.range((3,6), (3,7)).value

['animal', 'legs']

In [16]:
# Let's autofit these columns
sheet.range('E:G').autofit()

---

> ### üö© Exercise
> 
> Update the "list of lists" in the cell below with your own details, then using the examples provided above as guidance, update cells B4:C7 in the Business Card workbook with your own details.

In [17]:
# ‚úèÔ∏è UPDATE THIS WITH YOUR OWN DETAILS

my_details = [
    ['Title', 'ENTER YOUR TITLE HERE'],
    ['Company', 'ENTER YOUR COMPANY HERE'],
    ['Website', 'ENTER YOUR WEBSITE HERE'],
    ['OTHER DETAIL', 'ENTER YOUR OTHER DETAIL HERE'],
]

In [18]:
# ‚úèÔ∏è ENTER YOUR SOLUTION HERE

sheet.range('B4:C6').value = my_details

# 

<div class="alert alert-block alert-info" style="background-color: #BA001E; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<h2 style="color: white">
Handling dates and times in Python
</h2><br>
</div>

We will import the `datetime` module - this is one of the "first-party" modules that comes pre-installed as part of Python itself.

In [19]:
import datetime as dt

In [20]:
# This is a Python "datetime" object
christmas = dt.datetime(2021, 12, 25, 9, 0, 0)
christmas

datetime.datetime(2021, 12, 25, 9, 0)

In [21]:
# These objects are "smart", they know lots of information
# about themselves.
christmas.month

12

In [22]:
christmas.day

25

In [23]:
# 0 => Monday, 1 => Tuesday, ... , 6 => Sunday
christmas.weekday()  # Christmas Day 2021 will be a Saturday

5

When we write a Python datetime object into Excel

In [24]:
# Write native Excel datetimes
sheet.range('C1').value = christmas

In [25]:
# Note that xlwings converts a Native Excel datetime back
# to a native Python datetime.
sheet.range('C1').value

datetime.datetime(2021, 12, 25, 9, 0)

In [26]:
# pandas has a great pd.to_datetime() function
pd.to_datetime("2021-12-25")

Timestamp('2021-12-25 00:00:00')

In [27]:
# The first Sunday in December 2021 is...?
pd.to_datetime("Sunday December 2021")

Timestamp('2021-12-05 00:00:00')

In [28]:
# This is ambiguous, so it assumes the format is month/day/year.
pd.to_datetime("03/02/2021")

Timestamp('2021-03-02 00:00:00')

In [29]:
# Note how month/day/year here is impossible so it uses day/month/year.
pd.to_datetime("23/02/2021")

Timestamp('2021-02-23 00:00:00')

In [30]:
# Good practice is just to be explicit!
pd.to_datetime("03/02/2021", dayfirst=True)

Timestamp('2021-02-03 00:00:00')

In [31]:
# Format codes can also be used here, see the website
# https://strftime.org/ for a full list of codes.
pd.to_datetime("03/02/2021", format="%d/%m/%Y")

Timestamp('2021-02-03 00:00:00')

---

> ### üö© Exercise
> 
> Enter your own date of birth (or any date of interest) into `pd.to_datetime()` and assign it to a variable called `birthday`.
> 
> Executing `birthday.day_name()` should return the name of that day.

In [32]:
# ‚úèÔ∏è ENTER YOUR SOLUTION HERE

def birthday(day):
    b = pd.to_datetime(day)
    return b

birthday(2021-6-18)

Timestamp('1970-01-01 00:00:00.000001997')

In [35]:
#birthday.day_name()

In [36]:
#sheet.range('C1').value = birthday

# 

<div class="alert alert-block alert-info" style="background-color: #BA001E; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<h2 style="color: white">
Formula and automation
</h2><br>
</div>

In [37]:
#¬†We can insert formula into our Business Card workbook
sheet.range('G8').formula = '=SUM(G4:G6)'

In [38]:
# What's the formula (as a Python string)?
sheet.range('G8').formula

'=SUM(G4:G6)'

In [39]:
# What's the value the formula returns?
sheet.range('G8').value

13.0

### Clean up
Let's clean up this sheet with a little automation.

In [40]:
# We can reset cells manually, one by one...
sheet.range("E6").value = None
sheet.range("F6").value = None
sheet.range("G6").value = None
sheet.range("G8").value = None

In [41]:
# ...or, using a "range expand" from cell E3...
sheet.range('E3').expand().value

[[None, 'animal', 'legs'], [0.0, 'cat', 4.0], [1.0, 'octopus', 8.0]]

In [42]:
# ...we add .clear_contents() to do it all in one go
sheet.range('E3').expand().clear_contents()

In [43]:
# Let's also remove the information we've put into cells A1 and
# C1. We could do this manually, but let's show how you can do
# it with a for loop iterating through the whole first row.

for letter in "ABCDEFGHIJKLM":
    cell = letter + "1"  # A1, B1, C1, etc
    sheet.range(cell).value = None

# 

<div class="alert alert-block alert-info" style="background-color: #BA001E; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<h2 style="color: white">
S-MartX Data
</h2><br>
</div>

Let's read in the S-MartX e-commerce dataset. S-Martx supplies various products in South-East Asian countries such as Cambodia, Vietnam, Indonesia, Singapore and Malaysia.

In [44]:
# This dataset has 50k rows and 30 columns

df = pd.read_excel('S-MartX Database.xlsx', sheet_name='Main Database')
df.shape

(50035, 30)

In [45]:
# Jupyter doesn't display all the columns by default
df.head()

,Receipt No,Item Name,Category Name,Prod Grp Name,Brand Name,Product Code,Description,Price[SGD],Quantity,Discount,...,Gender,Age,Year,Month,Day,Month-Year,Payment Mode,Bank Name,GST,OCBC Credit Card
0,17A0112000014900,Seagate Backup Plus Hub 4¬†TB External Hard Dri...,Mobiles & Computers,Drives & Storage,Seagate,M&C>DRS>SEA,"USB 3.0, for Computer Desktop Workstation PC L...",1048.662,1,0.00,...,Male,33,2010,1,1,1-2010,Credit Card,OCBC,0.07,1
1,17A0112000014900,Seagate Backup Plus Hub 4¬†TB External Hard Dri...,Mobiles & Computers,Drives & Storage,Seagate,M&C>DRS>SEA,"USB 3.0, for Computer Desktop Workstation PC L...",1048.662,1,0.00,...,Male,33,2010,1,1,1-2010,Credit Card,OCBC,0.07,1
2,17A0114000011990,Samsung 6 kg,Home Appliances & Electronics,Washing Machines,Samsung,H&E>WAM>SAM,Fully-Automatic Front Loading Washing Machine ...,5246.622,2,0.08,...,Male,26,2010,1,1,1-2010,Credit Card,OCBC,0.07,1
3,17A0113000012532,Jockey Women's Cotton Racerback Tank Top,Fashion & Clothing (Men & Women),T-shirts & Polos,Jockey,F&C>TSP>JOC,red/vlack,55.476,1,0.12,...,Male,31,2010,1,2,1-2010,Debit Card,DBS Bank,0.07,0
4,17A0114000011940,Epson EcoTank L3110,Mobiles & Computers,Printers & Ink,Epson,M&C>PRI>EPS,All-in-One Ink Tank Printer (Black),1614.462,1,0.08,...,Male,35,2010,1,2,1-2010,Credit Card,Bank of Singapore (BOS),0.07,0

In [46]:
# Let's display all columns for this entire notebook
pd.set_option('display.max_columns', None)

In [47]:
df.head(3)

,Receipt No,Item Name,Category Name,Prod Grp Name,Brand Name,Product Code,Description,Price[SGD],Quantity,Discount,Time,Date,Net Sales[SGD],Profit Margin,Country,Offer Name,Vendor Name,Shift No,Staff,Customer ID,Gender,Age,Year,Month,Day,Month-Year,Payment Mode,Bank Name,GST,OCBC Credit Card
0,17A0112000014900,Seagate Backup Plus Hub 4¬†TB External Hard Dri...,Mobiles & Computers,Drives & Storage,Seagate,M&C>DRS>SEA,"USB 3.0, for Computer Desktop Workstation PC L...",1048.662,1,0.00,03:53:34,2010-01-01,1048.66200,0.10,Sin,None,Seq. Associates,2,22926,Sin14900,Male,33,2010,1,1,1-2010,Credit Card,OCBC,0.07,1
1,17A0112000014900,Seagate Backup Plus Hub 4¬†TB External Hard Dri...,Mobiles & Computers,Drives & Storage,Seagate,M&C>DRS>SEA,"USB 3.0, for Computer Desktop Workstation PC L...",1048.662,1,0.00,03:53:34,2010-01-01,1048.66200,0.10,Sin,None,Seq. Associates,2,22926,Sin14900,Male,33,2010,1,1,1-2010,Credit Card,OCBC,0.07,1
2,17A0114000011990,Samsung 6 kg,Home Appliances & Electronics,Washing Machines,Samsung,H&E>WAM>SAM,Fully-Automatic Front Loading Washing Machine ...,5246.622,2,0.08,18:24:57,2010-01-01,10073.51424,0.12,Sin,None,Llen Associates,1,21653,Sin11990,Male,26,2010,1,1,1-2010,Credit Card,OCBC,0.07,1

---

> ### üö© Exercises
> 1. Filter the dataframe `df` to just rows where `Vendor Name` is equal to `Sports Hub`, and assign it to a variable called `vendor`.
> 2. How many orders are in the `vendor` dataframe?
> 3. What is the total net sales (`Net Sales[SGD]`) by this vendor?

In [50]:
# 1. Filter the dataframe `df` to just rows where `Vendor Name` is equal to `Sports Hub`.

# ‚úèÔ∏è ENTER YOUR SOLUTION HERE

vendor = df[df["Vendor Name"] == "Sports Hub"]
vendor.head()

,Receipt No,Item Name,Category Name,Prod Grp Name,Brand Name,Product Code,Description,Price[SGD],Quantity,Discount,Time,Date,Net Sales[SGD],Profit Margin,Country,Offer Name,Vendor Name,Shift No,Staff,Customer ID,Gender,Age,Year,Month,Day,Month-Year,Payment Mode,Bank Name,GST,OCBC Credit Card
14,17A0119000012184,POLESTAR Hike CAMO Rucksack with RAIN Cover/Tr...,Sports & Fitness,Camping & Hiking,Polestar,S&F>CAH>POL,60 ltrs (orange),856.428,2,0.00,08:41:07,2010-01-05,1712.85600,0.3,Sin,None,Sports Hub,1,22636,Sin12184,Male,23,2010,1,5,1-2010,Credit Card,CITI Bank,0.07,0
163,17S0902000015695,F.C. Barcelona Badge T-Shirt,Sports & Fitness,Sports Collectibles,Fc,S&F>SPC>FCX,Blue/Red,243.294,1,0.00,03:27:23,2010-02-03,243.29400,0.3,Sin,None,Sports Hub,2,21042,Sin15695,Male,32,2010,2,3,2-2010,Debit Card,OCBC,0.07,0
226,17S0903000015226,POLESTAR XPLORE with Rain Cover Rucksack/Hikin...,Sports & Fitness,Camping & Hiking,Polestar,S&F>CAH>POL,55 ltrs (Sky),375.774,2,0.08,19:37:54,2010-02-14,721.48608,0.3,IDN,None,Sports Hub,2,21905,IDN15226,Female,29,2010,2,14,2-2010,COD,Cash,0.07,0
245,17S0903000015304,Strauss Yoga Mat Bag,Sports & Fitness,Yoga,Whitecloud,S&F>YOG>WHI,Full Zip,163.254,1,0.05,00:44:59,2010-02-18,155.09130,0.3,Sin,Buy any 4 pay for 3,Sports Hub,2,21905,Sin15304,Female,26,2010,2,18,2-2010,Wallet,Ez-Link,0.07,0
285,17S0903000015324,Voroly Portable Ab Exercise Bike Cycle Peddle ...,Sports & Fitness,Cardio Equipment,Voroly,S&F>CAE>VOR,Silver,877.266,1,0.00,01:33:46,2010-02-27,877.26600,0.3,Sin,None,Sports Hub,2,21905,Sin15324,Male,24,2010,2,27,2-2010,Debit Card,OCBC,0.07,0

In [51]:
# 2. How many orders are in the `vendor` dataframe?

# ‚úèÔ∏è ENTER YOUR SOLUTION HERE

vendor.shape

(983, 30)

In [52]:
# 3. What is the total net sales (`Net Sales[SGD]`) by this vendor?

# ‚úèÔ∏è ENTER YOUR SOLUTION HERE


vendor["Net Sales[SGD]"].sum()

360152.1533852001

---

To get the top brand by net sales, we do the following:
- Group by brand name
- Calculate the sum of the net sales column
- Reset the index, then sort by the net sales column (descending)
- Add `.iloc[0]` to get the top row (the row associated with the top brand)
- Add `['Brand Name']` to pick out the string containing _just_ the name of the top brand

In [53]:
# Try commenting out each line from the bottom up to see how this query "evolves".

top_brand = (
    vendor
    .groupby(['Brand Name'])
    ['Net Sales[SGD]']
    .sum()
    .reset_index()
    .sort_values('Net Sales[SGD]', ascending=False)
    .iloc[0]
    ['Brand Name']
)

top_brand

'Polestar'

---

> ### üö© Exercise
> Repeat the above analysis to get the top item name by net sales.

In [54]:
# ‚úèÔ∏è ENTER YOUR SOLUTION HERE

top_item = (
    vendor
    .groupby(['Item Name'])
    ['Net Sales[SGD]']
    .sum()
    .reset_index()
    .sort_values('Net Sales[SGD]', ascending=False)
    .iloc[0]
    ['Item Name']
)

top_item

'POLESTAR Hike CAMO Rucksack with RAIN Cover/Trekking/Hiking BAGPACK/Backpack Bag'

---

> ### üö© Exercise
> Identify the **TOP 4** category and sub-categories for this vendor by net sales.
> 
> Tips:
> - You will need a list with multiple column names in your groupby
> - You can just do `.head(4)` at the end, to return a dataframe with three columns and four rows

In [57]:
# ‚úèÔ∏è ENTER YOUR SOLUTION HERE

df.groupby(["Category Name","Prod Grp Name"])['Net Sales[SGD]'].sum().head(4)

Category Name    Prod Grp Name
Beauty & Health  Health & Personal Care       34869.365341
                 Household Supplies           36835.867657
                 Make-up                     140428.872978
                 Personal Care Appliances    176970.546161
Name: Net Sales[SGD], dtype: float64

---

Let's open up a report template and fill all this information in.

In [58]:
# Create/connect to the workbook and sheet
wb = xw.Book('S-MartX Vendor Report.xlsx')
sheet = wb.sheets['Report']

In [59]:
# Write the vendor's name into B3
sheet.range('B3').value = 'Sports Hub'

In [60]:
# We can get the min/max dates as follows
min_date = vendor.Date.min().strftime('%d %b %Y')
max_date = vendor.Date.max().strftime('%d %b %Y')

print(min_date, "to", max_date)

05 Jan 2010 to 31 Dec 2019

---

> ### üö© Exercises
> 1. Fill cell `C6` with `min_date`.
> 2. Fill cell `D6` with `max_date`.
> 3. Fill cell `D7` with the order count calculated earlier.
> 4. Fill cell `D8` with the total net sales (SGD).
> 5. Fill cell `D9` with the top brand.
> 6. Fill cell `D10` with the top item.

In [61]:
# ‚úèÔ∏è ENTER YOUR SOLUTIONS HERE

> ### üö© Exercise
> Fill cells `F7:H10` with the top four categories/sub-categories and their net sales numbers.
> 
> _Tip: If you have this assigned to a dataframe `top_categories` then you may want to try writing `top_categories.values` in order to exclude the headers and dataframe index from also being written into the workbook._

In [62]:
# ‚úèÔ∏è ENTER YOUR SOLUTION HERE

---

### Saving & closing the workbook
You can save the workbook by calling `wb.save("filename.xlsx")`.

You can also close the workbook without saving if you would prefer by calling `wb.close()`.

We will save this workbook!

In [ ]:
# This is how to save the workbook
vendor_name = "Sports Hub"
wb.save(f"S-MartX Vendor Report - {vendor_name}.xlsx")

---
<div class="alert alert-block alert-info">
    <b>Please proceed to the next part of the course when you are ready.</b>
</div>